---
name: home
url: /
controller: HomeController
---
<div class="grid-container">
  <div class="title">
	  <h1>Welcome to my website</h1>
	  <p class="lead">You can read about my projects, work and school experience, and find my contact info for recruiting and hiring. Thanks for visiting!</p>
  </div>
	
	<!-- Timeline of events -->
  <section id="timeline">
		<div class="timeline-block" ng-repeat="event in events">
			<div class="timeline-img bg-{{event.color}}">
				<image src="../assets/images/{{event.icon}}.svg"/>
			</div> <!-- cd-timeline-img -->
	 
			<div class="timeline-content md-card md-card-1">
				<h2>{{event.title}}</h2>
				<p>{{event.description}}</p>
				<a href="#0" class="cd-read-more">Read more</a>
			</div> <!-- cd-timeline-content -->
			<div class="timeline-date">{{event.date}}</div>
		</div> <!-- cd-timeline-block -->
	</section>
</div>


