---
name: projects
url: /projects
title: Projects
controller: ProjectsController
---
<div class="grid-container">
  <h1>These are my personal projects</h1>
  <p class="lead">See how cool they all are!</p>

  <div masonry masonry-options="{ transitionDuration: '0s' }">
    <md-card class="masonry-brick md-card-image" ng-click="showProject($event)" ng-repeat="project in projects">
      <img ng-src="{{ project.url }}" alt="A project of mine">
      <md-card-content>
      	<h2>{{project.destination}}</h2>
      </md-card-content>
      <md-card-footer>
      </md-card-footer>
    </md-card>
  </div>
</div>



